@model HotelReservation.Core.ViewModels.RoomImageFormViewModel


<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-md-8">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label"> Nazwa</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="d-block text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Opis</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="d-block text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Cena</label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="d-block text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Maksymalna liczba osób</label>
                    <input asp-for="MaxQuantityOfPeople" class="form-control" />
                    <span asp-validation-for="MaxQuantityOfPeople" class="d-block text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Typ pokoju</label>
                    <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Zdjęcia</label>
                    <input asp-for="Images" class="form-control" multiple />
                    <span asp-validation-for="Images" class="d-block text-danger"></span>
                </div>
                <div class="form-group">
                    <input hidden asp-for="HotlelId" class="form-control" value="@(ViewBag.HotlelId)" />
                </div>

                <div class="form-group">
                    <input type="submit" value="Dodaj" class="btn text-white bg-dark" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Wróć</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
