<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HotelReservationWPF.ViewModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HotelReservationWPF.ViewModel.Properties.Settings>
            <setting name="WorkingHotel" serializeAs="String">
                <value>9bda0c14-0f79-4ea5-acb8-5cece2fe074a</value>
            </setting>
        </HotelReservationWPF.ViewModel.Properties.Settings>
    </userSettings>
</configuration>