@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Pobierz swoje dane";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="container mt-5 ">
    <h4>@ViewData["Title"]</h4>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}