@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie zmiany hasła";
}
<div class="container mt-5 ">
    <h1>@ViewData["Title"]</h1>
    <p>
        Sprawdź swoją pocztę e-mail, aby zresetować hasło.
    </p>
</div>


